<header class="primary-header">
    <div class="container flex">
        <h1 class="header-title uppercase letter-spacing-2 no-wrap">My Journal</h1>
        <nav>
            <ul class="primary-navigation" data-visible="false">
                <li><a href="/" class="uppercase letter-spacing-2">Home</a></li>
                <li><a href="/journals" class="uppercase letter-spacing-2">Your Diary</a></li>
                <li><a href="/journals/new" class="uppercase letter-spacing-2">Add Post</a></li>
            </ul>
        </nav>
    </div>
</header>