<header>
    <h1>Daily journal</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/journals">Your Diary</a></li>
            <li><a href="/journals/new">Add Post</a></li>
        </ul>
    </nav>
</header>