
    <div class="form-item flex">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= journal.title %>">
    </div>
    <div class="form-item flex">
        <label for="post">Post:</label>
        <textarea name="post" id="post" cols="30" rows="10"><%= journal.post %></textarea>
    </div>

