
<main>
    <article>
        <h2>Compose</h2>
        <form action="/journals" method="POST">
            <%- include('./__form_fields.ejs') %>
            <button>Publish</button>
        </form>
    </article>
</main>