<article>
    <h2 class="page-title">Compose</h2>
    <form action="/journals" method="POST" class="form-new flex">
        <%- include('./__form_fields.ejs') %>
            <button class="btn btn-primary align-end">Publish</button>
    </form>
</article>